.appointments {
    display: flex;
    background-color: white ;
    justify-content: center;
    margin: 2rem;
    font-size: 3rem;
    color: black;
    padding: 3rem;
}

.appointments p {
    margin-left: 2rem;
}


.status-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  
  
  .status-button:hover {
    background-color: red;
  }
  